In [1]:
import pandas as pd 

pd.read_parquet("/home/jupyter-aamir09/mlops2_with_dagster/warehouse/train_transformed.pq")

,pclass,age,fare,cabin_category,sex_category,embarked_category,family
passengerid,,,,,,,
0,1,0.00,27.14,2,1,2,2
1,3,0.00,13.35,8,1,2,0
2,3,0.33,71.29,8,1,2,3
3,3,19.00,13.04,8,1,2,0
4,3,25.00,7.76,8,1,2,0
...,...,...,...,...,...,...,...
99995,2,62.00,14.86,3,0,0,0
99996,2,66.00,11.15,8,1,2,0
99997,3,37.00,9.95,8,1,2,0
99998,3,51.00,30.92,8,1,2,1
99999,3,55.00,13.96,8,1,2,0

In [2]:
pd.read_parquet("/home/jupyter-aamir09/mlops2_with_dagster/warehouse/train_target.parquet")

             target
passengerid
0                 1
1                 0
2                 0
3                 0
4                 1
...             ...
99995             1
99996             0
99997             0
99998             0
99999             0

[100000 rows x 1 columns]

In [3]:
import yaml
with open("/home/jupyter-aamir09/mlops2_with_dagster/configs/resources.yaml","r") as f:
    b = yaml.safe_load(f)

In [4]:

b

{'resources': {'lake_io_manager_target': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse/',
    'file_name': 'train_target.parquet'}},
  'output_notebook_io_manager': {'config': {'asset_key_prefix': []}},
  'raw_data_input_manager_train': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/data/',
    'file_name': 'train.csv'}},
  'lake_input_manager_features': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse',
    'file_name': 'train_transformed.pq'}},
  'lake_input_manager_target': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse',
    'file_name': 'train_target.parquet'}},
  'model_io_manager_clf': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse',
    'file_name': 'output.parquet'}},
  'lake_io_manager': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse/',
    'file_name': 'train_transformed.pq'}},
  'model_input_manager': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse/',
    'file_name': 'encoders.joblib'}},
  'raw_data_input_manager': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/data/',
    'file_name': 'train.csv'}},
  'raw_data_input_manager_test': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/data/',
    'file_name': 'test.csv'}},
  'model_io_manager_encoder': {'config': {'base_path': '/home/jupyter-aamir09/mlops2_with_dagster/warehouse/',
    'file_name': 'encoders.joblib'}}}}